{% load static %}
<header class="header sticky-bar">
    <div class="container">
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo"><a class="d-flex" href="index.html"><img alt="Logo" width="300vw" src="{% static 'assets/imgs/logo.png' %}"></a></div>
        </div>
        <div class="header-nav">
          <nav class="nav-main-menu">
            <ul class="main-menu">
              
              <li ><a class="active" href="/">Home</a>
              </li>
              <li><a href="/companies/">Companies</a>
                
              </li>
              <li ><a href="/stats/">Statistics</a>
                
              </li>
             
            </ul>
            
          </nav>
          
          <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
      </div>
      <div class="header-right">
        <div class="block-signin">
            <a class="btn btn-default btn-shadow ml-40 hover-up" href="/login/">Sign in</a>
        </div>
      </div>
    </div>
    </div>

</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-content-area">
        <div class="perfect-scroll">
          
          <div class="mobile-menu-wrap mobile-header-border">
            <!-- mobile menu start-->
            <nav>
                <ul class="main-menu">
                    <li ><a class="active" href="/">Home</a>
                    </li>
                    <li><a href="/companies/">Companies</a>
                      
                    </li>
                    <li ><a href="/stats/">Statistics</a>
                      
                    </li>
                   
                  </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-content-area">
        <div class="perfect-scroll">

            <div class="header-right">
                <div class="block-signin">
                    <a class="btn btn-default btn-shadow ml-40 hover-up" href="page-signin.html">Sign in</a>
                </div>
              </div>
          <div class="mobile-account">
            <ul class="mobile-menu font-heading">
                    <li ><a class="active" href="/">Home</a>
                    </li>
                    <li><a href="/companies/">Companies</a>
                      
                    </li>
                    <li ><a href="/stats/">Statistics</a>
                      
                    </li>
                   
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>